<div class="container">
  <h2>Register</h2>
  <form action="/users" method="POST">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname">
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <label for="city">City:</label>
    <input type="text" id="city" name="city">
    <label for="state">State:</label>
    <input type="text" id="state" name="state">
    <label for="country">Country2:</label>
    <input type="text" id="country" name="country">

     {{#each questions as |question key|}}
      <label>{{key}}:</label>
      <select id="{{key}}">
        {{#each question.values}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    {{/each}}

    {{!-- {{#each questions as |question|}}
    <label>{{@key}}:</label>
    <select>
      {{#each question.values}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    {{/each}} --}}

    <button id="register" type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="/login">Log In</a></p>
</div>