<div class="container">
  <h2>Register</h2>
  <form action="/register" method="POST">
  <label for="firstname">First Name:</label>
  <input type="text" id="firstname" name="firstname">
  <label for="lastname">Last Name:</label>
  <input type="text" id="lastname" name="lastname">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <label for="city">City:</label>
  <input type="text" id="city" name="city">
  <label for="state">State:</label>
  <input type="text" id="state" name="state">
  <label for="country">Country:</label>
  <input type="text" id="country" name="country">
  <label for="course">Course:</label>
  <select id="course" name="course">
{{{#each (enumValues.course)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
  <label for="hobby1">Hobby 1:</label>
  <select id="hobby1" name="hobby1">
    {{{#each (enumValues.hobby1)}}}
      <option value="{{this}}">{{{this}}}</option>
    {{{/each}}}
  </select>
  <label for="hobby2">Hobby 2:</label>
  <select id="hobby2" name="hobby2">
    {{{#each (enumValues.hobby2)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
  <label for="hobby3">Hobby 3:</label>
  <select id="hobby3" name="hobby3">
    {{{#each (enumValues.hobby3)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
  <label for="question1">Question 1:</label>
  <select id="question1" name="question1">
    {{{#each (enumValues.question1)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question2">Question 2:</label>
  <select id="question2" name="question2">
    {{{#each (enumValues.question2)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question3">Question 3:</label>
  <select id="question3" name="question3">
    {{{#each (enumValues.question3)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question4">Question 4:</label>
  <select id="question4" name="question4">
    {{{#each (enumValues.question4)}}}
      <option value="{{this}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question5">Question 5:</label>
  <select id="question5" name="question5">
    {{{#each (enumValues.question5)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question6">Question 6:</label>
  <select id="question6" name="question6">
    {{{#each (enumValues.question6)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question7">Question 7:</label>
  <select id="question7" name="question7">
    {{{#each (enumValues.question7)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question8">Question 8:</label>
  <select id="question8" name="question8">
    {{{#each (enumValues.question8)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question9">Question 9:</label>
  <select id="question9" name="question9">
    {{{#each (enumValues.question9)}}}
      <option value="{{{this}}}">{{{this}}}</option>
    {{{/each}}}
  </select>
   <label for="question10">Question 10:</label>
  <select id="question10" name="question10">
    {{{#each (enumValues.question10)}}}
      <option value="{{{this}}">{{{this}}}</option>
    {{{/each}}}
  </select>
  <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="/login">Log In</a></p>
</div>